<!DOCTYPE html>
<html>

<head>
    <title>Product Results</title>
</head>

<body>
    <h1>Product Results</h1>
    <% Object.keys(products).forEach(platform=> { %>
        <h2>
            <%= platform %>
        </h2>
        <ul>
            <% products[platform].forEach(product=> { %>
                <li>
                    <%= JSON.stringify(product) %>
                </li>
                <% }); %>
        </ul>
        <% }); %>
            <a href="/">Go Back</a>
</body>

</html>

